.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.grid-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  /* padding: 10px; */
}
.grid-ite1m {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.grid {
  display: flex;
  justify-content: space-around;
}
.block {
  height: 100px;
  background-color: #1e3799;
  border: solid 1px;
  border-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
  color: white;
}
.btn {
  width: 150px;
  height: 50px;
  margin-top: 0px;
  margin-bottom: 30px;
  font-family: monospace;
}

.btn:hover {
  background-color: #95afc0;
  border-style: none;
}

.table-head {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #1e3799;
  color: white;
}

.icons-table {
  font-family: monospace, Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-weight: 500;
}

#icons td,
#icons th {
  border: 1px solid #ddd;
  padding: 18px;
  width: 30vh;
  text-align: center;
}
#icons td {
  padding: 18px;
}
.table-body {
  color: #1e3799;
  font-weight: 600;
}

#icons tr:hover {
  background-color: #ddd;
}
